:root {
  --width: 720px;
  --font-main: Verdana, serif;
  --font-secondary: Verdana, serif;
  --font-scale: 1em;
  --background-color: #fff;
  --heading-color: #222;
  --text-color: #444;
  --link-color: #3b49df;
  --visited-color: #6141b4;
  --code-background-color: #f2f2f2;
  --code-color: #222;
  --code-border-color: #ccc;
  --blockquote-color: #222;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #01242e;
    --heading-color: #eee;
    --text-color: #ddd;
    --link-color: #3bb2ed;
    --visited-color: #8b6fcb;
    --code-background-color: #2d2d2d;
    --code-color: #ddd;
    --code-border-color: slategray;
    --blockquote-color: #ccc;
  }
}

[data-theme="light"] {
  --background-color: #fff;
  --heading-color: #222;
  --text-color: #444;
  --link-color: #3b49df;
  --visited-color: #6141b4;
  --code-background-color: #f2f2f2;
  --code-color: #222;
  --code-border-color: #ccc;
  --blockquote-color: #222;
}

[data-theme="dark"] {
  --background-color: #01242e;
  --heading-color: #eee;
  --text-color: #ddd;
  --link-color: #3bb2ed;
  --visited-color: #8b6fcb;
  --code-background-color: #2d2d2d;
  --code-color: #ddd;
  --code-border-color: slategray;
  --blockquote-color: #ccc;
}

body {
  font-family: var(--font-secondary);
  font-size: var(--font-scale);
  margin: auto;
  padding: 20px;
  max-width: var(--width);
  text-align: left;
  background-color: var(--background-color);
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-main);
  color: var(--heading-color);
}

h1 {
  line-height: 1.2;
}

a {
  color: var(--link-color);
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

nav a {
  margin-right: 8px;
}

strong,
b {
  color: var(--heading-color);
}

button {
  margin: 0;
  cursor: pointer;
}

main {
  line-height: 1.6;
}

header nav li {
  margin-inline-end: 8px;
}

table {
  width: 100%;
}

img {
  max-width: 100%;
}

pre {
  background-color: var(--code-background-color);
  padding: 1.5em;
  margin: 0.5em 0;
  overflow: auto;
}

p code {
  font-family: monospace;
  padding: 2px;
  background-color: var(--code-background-color);
  color: var(--code-color);
  border-radius: 3px;
  border: 1px solid var(--code-border-color);
  overflow-x: auto;
}

blockquote {
  border-left: 4px solid #d6d6d7;
  color: var(--code-color);
  /* background-color: var(--code-background-color); */
  padding-left: 1.5em;
  font-style: italic;
  margin: 1em 0;
}

footer {
  padding: 1.5em 0;
  text-align: center;
}

main footer {
  text-align: left;
}

.title:hover {
  text-decoration: none;
}

.title h1 {
  font-size: 1.5em;
}

.inline {
  width: auto !important;
}

/* blog post list */
ul.blog-posts {
  list-style-type: none;
  padding: unset;
}

ul.blog-posts li {
  margin-bottom: 0.5em;
}

ul.blog-posts li h3 {
  margin-bottom: 0.2em;
}

ul.blog-posts li a:visited {
  color: var(--visited-color);
}

/** Horizontal navigation */
nav ul,
.list-horizontal {
  padding-inline-start: 0;
}

nav ul li,
.list-horizontal li {
  display: inline-block;
}

header > .list-horizontal {
  margin-top: 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/** Custom **/
.svgs {
  width: 1.25rem;
  height: 1.25rem;
  color: var(--link-color);
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.svgs:hover {
  opacity: 0.8;
}

.svgs svg {
  fill: currentColor;
}

/** Tags **/
.page-tag a:before {
  content: "#";
}

/** Pagination */
.pagination {
  display: flex;
  flex-direction: row;
  text-align: left;
}

.pagination a:hover {
  text-decoration-color: var(--heading-color);
}

.pagination div {
  width: 50%;
}

.pagination .next {
  text-align: right;
}

hr {
  opacity: 0.7;
}

.img-txt {
  height: 1.1em;
}

video,
.video {
  width: 100%;
  aspect-ratio: 16/9;
}

aside,
.notice {
  padding: 8px 16px;
  margin-bottom: 16px;
  border-left: 0.25em solid royalblue;
  border-radius: 2px;
  background-color: var(--code-background-color);
}

.success {
  border-left-color: green;
}

.info {
  border-left-color: slategray;
}

.warning {
  border-left-color: yellow;
}

.danger {
  border-left-color: orangered;
}
