---
layout: layouts/base.njk
title: Home
eleventyNavigation:
  key: Home
  order: 1
numberOfLatestPostsToShow: 5
---

<h1>Latest Publications</h1>

{% set postsCount = collections.post | length %} {% set latestPostsCount =
postsCount | min(numberOfLatestPostsToShow) %} {% set postslist =
collections.post | head(-1 * numberOfLatestPostsToShow) %} {% set
postslistCounter = postsCount %} {% include "partials/posts-list.njk" %} {% set
morePosts = postsCount - numberOfLatestPostsToShow %} {% if morePosts > 0 %}

<footer>
  <p>Looking for more? Take a look at the <a href="/archive/"> archive</a></p>
</footer>
{% endif %}
