<hr />
<footer>
  Made with <span role="img" aria-label="Love">♥</span> with
  <a href="https://www.11ty.dev/">Eleventy</a>
  <br />

  Subscribe to my <a href="/feed/feed.xml">RSS Feed</a>&nbsp;<img
    src="/images/rss-512.png"
    class="img-txt"
  />
</footer>
