<!DOCTYPE html>
<html lang="{{ metadata.language }}">
  <head>
    {% include "partials/head.njk" %} {% include "partials/head-js.njk" %} {%
    block meta_post %}{% endblock%}
  </head>

  <body>
    <header>
      <h1 class="logo">
        <a href="{{ metadata.url }}"> {{ metadata.title }}</a>
      </h1>
      {% include "partials/nav-tabs.njk" %}
    </header>
    <main class="content">
      {% block main_content %}{{ content | safe }}{% endblock main_content %}
    </main>
    {% include "partials/footer.njk" %}
  </body>
</html>
